doctype html
html
	head
		title index
		link(href='uikit.min.css', rel='stylesheet')
	body
		#buttons
			a.uk-button.uk-button-primary {{allPhotos}}
			a.uk-button.uk-button-danger {{withMap}}
		script(src='vue.js')
		script
			include ./../js/index.js
