doctype html
html
	head
		title index
	body#buttons
		.uk-flex.uk-flex-center.uk-flex-middle
			.uk-container
				.uk-width-1-1.uk-text-center.uk-animation-scale-down.uk-animation-hover
					a.uk-button.uk-button-primary(href='photos') {{allPhotos}}
				.uk-width-1-1.uk-margin-top.uk-text-center.uk-animation-scale-down.uk-animation-hover
					.uk-button.uk-button-danger {{withMap}}
				.uk-width-1-1.uk-text-center.uk-margin-top.uk-animation-scale-down.uk-animation-hover
					a.uk-button.uk-button-success(href='upload') {{upload}}	
	script(src='index.js')
