doctype html
html
	head
		title index
	body#body
		<photo-submit></photo-submit>
		script(src= 'public/exif.js')
		script(src= 'public/jquery-2.2.4.min.js')
		script(src= 'public/uikit.min.js')
		script(src= 'upload.js')
